.editorconfig      export-ignore
.github            export-ignore
.gitattributes     export-ignore
.gitignore         export-ignore
README.md          export-ignore
tests              export-ignore
phpunit.xml        export-ignore
psalm.xml          export-ignore
LICENSE.md         export-ignore
.scrutinizer.yml   export-ignore
